@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400&display=swap');


body{
    font-family: 'Montserrat Alternates', sans-serif;
    color: black;
    margin: 0;
    font-size: 15px;
    background-image: url(img/background.jpg);
}

a{
    color: black;
    text-decoration: none;
}
.button a{
    background-color: rgb(201, 66, 66);
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
}
.button a:hover{
    background-color: white;
    color: black;
    border: 1px solid;
}

/* =================HOMEE================= */
header{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: antiquewhite;
}
.nav_links ul{
    gap: 20px;
    display: flex;
}
.nav_links ul li{
    list-style-type: none;
}
.nav_links ul li a{
    text-decoration: none;
    position: relative;
}
.nav_links ul li a:hover{
    color: rgb(221, 117, 21);
}
.container{
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
}
.container .left{
    width: 100%;
    max-width: 400px;
    margin: 3% auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.container .left img{
    width: 89%;
    border-radius: 20px;
}
.container .right .txt{
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
}
.container .right .para{
    width: 89%;
    color: black;
    margin-top: 1%;
}
.container .right .name{
    font-size: 28px;
    margin: 0;
    text-transform: uppercase;
}
.container .right{
    width: 400%;
    max-width: 700px;
    padding-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.container .button{
    margin-top: 4%;
}

.container-porto{
    margin-top: 100px;
}


.banner{
    background-image: url(img/foto1.jpg);
    background-size: cover;
    background-position: center ;
    text-align: center;
    top: 78px;
    height: 60vh;
    width: 100%;
}

.banner h1{
    padding-top: 8%;
    color: rgb(0, 0, 0);
    font-size: 80px;
    text-transform: uppercase;
}

.card-container{

    width: 90%;
    margin: 0 auto;
}
.heading{
    text-align: center;
    margin-top: 100px;
    font-size: 36px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 60px;
}
.row2{
    margin: 60px;
    display: flex;
    flex-wrap: wrap;
}
.col{
    flex:1;
    padding: 0px 20px;
    display: flex;
}
.blog-card{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 226, 226);
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0 0, 0.2);
}
.blog-card img{
    width: 100%;
    height: 225px;
    object-fit: cover;
}
.blog-card h3{
    font-size: 25px;
    margin: 10px;
}
.blog-card p{
    font-size: 17px;
    margin: 10px;
}
.read-more{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px 0px;
    background-color: #e63f3f;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 5px;
    transition: all 0.3 ease;
}
/*==================================FOOOTER==================================*/
footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    background: rgb(107, 107, 107);
}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;
    position: relative;
}
.box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
}

.left .content p{
    text-align: justify;
}
.right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #000000;
}
.right form .msg{
    margin-top: 10px;
}
.right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #2e2929;
    padding-left: 10px;
    border: 1px solid #c53b3b;
}

.right form input{
    height: 35px;
}
.right form .btn{
    margin-top: 10px;
}
.right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #f12020;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
}
.bottom center span{
    color: #ffffff;
}